# UCLAIS Introduction to Python: Exercises

## Exercises

- Numerics
- Shorthand assignment operators
- Functions
- Control flow (for and while loops)
- Recursive and non-recursive Fibonacci implementations
- Comprehensions
- min/max built-ins
- Dictionaries
- Sets
- Classes

### Imports

In [ ]:
from typing import List

### Exercise 1: Numerics &ndash; the Modulo Operator

> Find the remainder when dividing 367 by 53

In [1]:
# TODO: your code here
remainder = 367 % 53

In [2]:
assert remainder == 49

### Exercise 2: Numerics &ndash; Calculations

> Compute the result of the following mathematical expression:

$$\text{result} = 9a^4 - \dfrac{56b^2}{3c + 2} + 13$$

In [3]:
a = 3
b = 3
c = 12

In [4]:
# TODO: your code here
result = 9*a**4 - (56*b**2)/(3*c + 2) + 13

In [5]:
assert round(result) == 729

### Exercise 3: Shorthand Assignment Operators

> Rewrite the following assignment statements using the shorthand assignment operators.

In [6]:
variable = 17

variable = variable + 5
variable = variable * 76
variable = variable - 7
variable = variable + 23
variable = variable / 12
variable = variable // 36

##

variable = 17

variable += 5
variable *= 76
variable -= 7
variable += 23
variable /= 12
variable //= 36

In [7]:
assert variable == 3

### Exercise 4: Functions

> Write a function `count_odd_numbers(numbers)` that takes in a list of integers and returns the number of odd numbers in the list.

In [9]:
def count_odd_numbers(numbers):
    count = 0
    # TODO: your code here
    for number in numbers:
        if number % 2 != 0:
            count += 1

    return count

In [10]:
# These assertions will pass if you have implemented the function above correctly
assert count_odd_numbers([1, 2, 3, 4, 5, 6]) == 3
assert count_odd_numbers([1, 3, 5, 7]) == 4
assert count_odd_numbers([-2, 2, -10, 8]) == 0

### Exercise 5: Filtering Lists

> Implement the `bucket_list_filter` function which takes a list of activities (strings) and a list of completed activities as arguments. The function should return a list of bucket list activities that have been completed.

In [11]:
# activities ticked off the bucket list

COMPLETED_ACTIVITIES = ["Skydiving", "Run a marathon", "Visit Japan"]

In [13]:
def bucket_list_filter(activities, completed_activities):
    # TODO: your code here
    bucket_list = []
    for completed_activity in completed_activities:
        if completed_activity in activities:
            bucket_list.append(completed_activity)

    return bucket_list

In [14]:
activities_to_check_1 = [
    "Run a marathon",
    "Learn to draw",
    "Visit Japan",
    "Meet Miranda Hart",
]
activities_done_1 = bucket_list_filter(activities_to_check_1, COMPLETED_ACTIVITIES)
assert set(activities_done_1) == {"Run a marathon", "Visit Japan"}

activities_to_check_2 = [
    "Fly a kite",
    "Ride a horse in Mongolia",
    "Learn how to make sushi",
]
activities_done_2 = bucket_list_filter(activities_to_check_2, COMPLETED_ACTIVITIES)
assert activities_done_2 == []

### Exercise 6: Finding the Maximum Number in a List

> Write a function to find the maximum number witin a list of numbers.

In [15]:
def find_maximum_number(numbers):
    # TODO: your code here
    maximum = numbers[0] # maximum = -99999 (-np.inf)
    for number in numbers:
      if number > maximum:
        maximum = number

    return maximum

**Hint**: you could try using the built-in `max()` function, although how would you implement it yourself?

In [16]:
assert find_maximum_number([5, 67, 89, -222, 10, 4583, 555.2]) == 4583
assert find_maximum_number([43, -55.2, 12, -3.2, 76, -90, 12, 23, 45]) == 76

### Exercise 7: Mystery Function

> Defined below is the function `foo`. What do you think this function returns when given the dictionary `instagram_records`? Assign `guess` to what you think the result is, and make sure the data types match up!

In [17]:
def foo(dictionary):
    super_accounts = set()

    for account, followers in dictionary.items():
        if followers > 5000000:
            super_accounts.add(account)

    return super_accounts


instagram_records = {
    "Kendall Jenner": 278000000,
    "SZA": 15600000,
    "Jerry Seinfeld": 1300000,
    "Miranda Hart": 906000,
    "The Economist": 6100000,
    "L'Impératrice": 156000,
}

In [18]:
# what do you think will be returned?

guess = {'Kendall Jenner', 'SZA', 'The Economist'}

In [19]:
assert guess == foo(instagram_records)

> How could you rewrite the `xyz()` function using a set comprehension?

In [20]:
def foo_improved(dictionary):
    # TODO: your code here
    super_accounts = {account for account, followers in dictionary.items() if followers > 5000000}
    return super_accounts


assert foo_improved(instagram_records) == foo(instagram_records)

### Exercise 8: Control Flow (`if`, `for` and `while`)

Convert a list of numbers into a list of strings based on the following rules:
- if the number is greater than twenty, it is "large"
- if the number is less than twenty, it is "small"
- if the number is odd, it is "odd"
- if the number is even, it is "even"

The number 23 is "large odd", whereas 4 is "small even".

In [21]:
numbers = [5, 78, 3, 45, 67, 222, 34, 2, 44, 55, 90, 78]

In [22]:
# TODO: your code here
my_list = []

for number in numbers:
    if number > 20 and number % 2 != 0:
        my_list.append("large odd")
    elif number > 20 and number % 2 == 0:
        my_list.append("large even")
    elif number < 20 and number % 2 != 0:
        my_list.append("small odd")
    elif number < 20 and number % 2 == 0:
        my_list.append("small even")
    else:
        my_list.append("20")

In [23]:
assert my_list == [
    "small odd",
    "large even",
    "small odd",
    "large odd",
    "large odd",
    "large even",
    "large even",
    "small even",
    "large even",
    "large odd",
    "large even",
    "large even",
]

### Exercise 9: Fibonacci Sequence

> Output the first 15 numbers in the Fibonacci sequence, using a `while` loop. To do this, complete the programme below.

In [24]:
# TODO: complete this code

series_length = 15

a = 0
b = 1
sum = 0
count = 0

while count < series_length:
    print(sum, end=" ")
    a = b
    b = sum
    sum = a + b
    count += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

> Create a Fibonacci sequence again, but this time, recursively.

In [25]:
# TODO: complete this function
def fibonacci_sequence(number):

    # Check if input is 0 then it will
    # print incorrect input
    if number < 0:
        print("Incorrect input")

    # Check if n is 0
    # then it will return 0
    elif number == 0:
        return 0

    # Check if n is 1,2
    # it will return 1
    elif number == 1 or number == 2:
        return 1

    else:
        return fibonacci_sequence(number-1) + fibonacci_sequence(number-2)


length = 13

for i in range(length):
    print(fibonacci_sequence(i), end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144

Which approach &ndash; iterative or recursive &ndash; would be preferable for this task?

### Exercise 10: List Comprehensions

> You are given a list of floating-point numbers. Using a list comprehension, create a new list called `integers` containing only the whole numbers from the original list of numbers **as integers**.

In [26]:
numbers = [12.0, 3.4, 66.0, 7.8, 44.8, 9.1, 6.0, 3.0, 55.0, 89.23, 999.0, 76.0, 5.0, 43.0, 22.1, 44.0]

In [27]:
# TODO: your code here
integers = []

for number in numbers:
    if number.is_integer():
        integers.append(number)

print(isinstance(12.0, int))

False

In [28]:
assert integers == [12, 66, 6, 3, 55, 999, 76, 5, 43, 44]

> Now, create a list (using a single list comprehension) that contains all the numbers from 1 to 1000 that have the digit 3 in them.

In [29]:
numbers_with_3 = [number for number in range(1, 1001) if '3' in str(number)]

### Dictionaries and Sets

### Exercise 11: Dictionaries

> Create a dictionary `fruit_counts` that maps from fruit names to the number of times they appear in the list below.

In [30]:
fruit = [
    "apple",
    "blueberry",
    "cherry",
    "apple",
    "pear",
    "guava",
    "pear",
    "blueberry",
    "guava",
    "blueberry",
    "apple",
    "cherry",
    "watermelon",
    "cherry",
    "cherry",
    "apple",
    "blueberry",
    "cherry",
    "pear",
    "melon",
    "blueberry",
]

In [31]:
fruit_counts = {}

# TODO: your code here
for fruit_name in fruit:
    if fruit_name not in fruit_counts:
        fruit_counts[fruit_name] = 1
    else:
        fruit_counts[fruit_name] += 1
print(fruit_counts)

{'apple': 4, 'blueberry': 5, 'cherry': 5, 'pear': 3, 'guava': 2, 'watermelon': 1, 'melon': 1}

Your output should match what you see below:

In [32]:
from collections import Counter

Counter(fruit)

Counter({'apple': 4,
         'blueberry': 5,
         'cherry': 5,
         'pear': 3,
         'guava': 2,
         'watermelon': 1,
         'melon': 1})

### Exercise 12: String Parsing & Dictionaries

> From the string of matches and results below, create a dictionary where each key is a country, and each value is the number of goals scored per country. For example, "France,England,5,2" means that France scored 5 goals and England scored 2 goals.

In [33]:
matches = """France,England,5,2
Spain,Poland,3,2
France,Italy,2,0
England,Spain,1,3
Germany,England,1,1"""

scores = {}

for line in matches.split("\n"):
    # TODO: your code here
    country1, country2, goals1, goals2 = line.split(",")
    print(country1, country2, goals1, goals2)
    if country1 not in scores:
        scores[country1] = int(goals1)
    else:
        scores[country1] += int(goals1)
    if country2 not in scores:
        scores[country2] = int(goals2)
    else:
        scores[country2] += int(goals2)
    pass

# steps to solve this exercise:

# step 1: split the string per line, and then within each line, per country and score
# step 2: check if the countries are already in the scores dictionary; if not, add them to it
# step 3: for each country, add the goals recorded in that line

# this process must be iterative - use a for loop

France England 5 2
Spain Poland 3 2
France Italy 2 0
England Spain 1 3
Germany England 1 1

In [34]:
correct_scores = {
    "France": 7,
    "England": 4,
    "Spain": 6,
    "Poland": 2,
    "Italy": 0,
    "Germany": 1,
}

assert scores == correct_scores

### Exercise 13: Sets

Sets have some interesting properties. Each element within a set is unique, and two different sets can be compared to find where they overlap, and where they do not.

Sets can be compared using:
- `intersection()` or `&`: returns the intersection between two sets
- `union()` or `|`: returns the union of two sets
- `difference()` or `-`: returns the difference between two sets

Check out how they work below!

In [35]:
set1 = {3, 56, 7, 8}
set2 = {4, 5, 6, 8}

print(set1 & set2)
print(set2 & set1)

print(set1 | set2)
print(set2 | set1)

print(set1 - set2)
print(set2 - set1)

# what is this operation?
print(set1 ^ set2)

{8}
{8}
{3, 4, 5, 6, 7, 8, 56}
{3, 4, 5, 6, 7, 8, 56}
{56, 3, 7}
{4, 5, 6}
{3, 4, 5, 6, 7, 56}

> Two sets of genes are being studied for their involvement in Schizophrenia and Bipolar disorder. Both bipolar disorder are known to cause psychosis (to different extents), and some researchers want to see if there is any possible overlap between the two disorders from a genetic perspective.
>
> Help the scientists identify which genes are found to be involved in both disorders.

Sources:
- [Kegg Genes Database](https://www.genome.jp/kegg/genes.html)
- [Specific genes involved in schizophrenia identified for the first time](https://www.ucl.ac.uk/news/2022/apr/specific-genes-involved-schizophrenia-identified-first-time)
- [Genetics of bipolar disorder](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3966627/)

**Warning**: the list below is a compilation of a couple different genes. The mechanisms of these disorders remain unclear, and it is not known how involved they may or may not be.

In [36]:
risk_genes_schizophrenia = {"AKAP11", "NRXN1", "SHANK3", "AKT1", "PRODH", "DRD3"}
risk_genes_bipolar = {"AKAP11", "XBP1", "CACNA1C", "ODZ4", "NCAN"}

In [37]:
# Which genes are found in both sets?

genes_in_both = risk_genes_schizophrenia & risk_genes_bipolar
print(genes_in_both)

{'AKAP11'}

### Exercise 14: `min()` and `max()`

> You have been asked to process the data in a dictionary containing Wikipedia article names. You need to return the article with the longest introductory paragraph.

**Hint**: use the `key` parameter. It may also be useful to create your own function (or use a lambda function if you're willing to research it and experiment).

In [38]:
wiki_articles = {
    "Wikipedia": "Wikipedia[note 3] is a multilingual free online encyclopedia written and maintained by a community of volunteers, known as Wikipedians, through open collaboration and using a wiki-based editing system called MediaWiki. Wikipedia is the largest and most-read reference work in history.[3] It is consistently one of the 10 most popular websites ranked by Similarweb and formerly Alexa; as of 2022, Wikipedia was ranked the 5th most popular site in the world.[4] It is hosted by the Wikimedia Foundation, an American non-profit organization funded mainly through donations.[5]",
    "Portugal": "Portugal (Portuguese pronunciation: [puɾtuˈɣal]), officially the Portuguese Republic (Portuguese: República Portuguesa [ʁɛˈpuβlikɐ puɾtuˈɣezɐ]),[note 4] is a country located on the Iberian Peninsula, in southwestern Europe, and whose territory also includes the Atlantic archipelagos of the Azores and Madeira. It features the westernmost point in continental Europe, and its Iberian portion is bordered to the west and south by the Atlantic Ocean and to the north and east by Spain, the sole country to have a land border with Portugal. Its two archipelagos form two autonomous regions with their own regional governments. Lisbon is the capital and largest city by population.",
    "Frank Sinatra": "Francis Albert Sinatra (/sɪˈnɑːtrə/; December 12, 1915 – May 14, 1998) was an American singer and actor. Nicknamed the 'Chairman of the Board' and later called \"Ol' Blue Eyes\", Sinatra was one of the most popular entertainers of the 1940s, 1950s, and 1960s. He is among the world's best-selling music artists with an estimated 150 million record sales.[1][2]",
    "Growth Hormone-Releasing Hormone": "Growth hormone-releasing hormone (GHRH), also known as somatocrinin or by several other names in its endogenous forms and as somatorelin (INN) in its pharmaceutical form, is a releasing hormone of growth hormone (GH). It is a 44[1]-amino acid peptide hormone produced in the arcuate nucleus of the hypothalamus.",
    "Beyoncé": 'Beyoncé Giselle Knowles-Carter (/biˈɒnseɪ/ (listen) bee-ON-say;[4] born September 4, 1981)[5] is an American singer, songwriter, actress, and dancer. Beyoncé has been noted for her boundary-pushing artistry and her vocal ability.[6] Her success has made her a cultural icon and earned her the nickname "Queen Bey".[7]',
    "Everything Everywhere All at Once": 'Everything Everywhere All at Once is a 2022 American absurdist comedy-drama film written and directed by Daniel Kwan and Daniel Scheinert (collectively known as Daniels), who produced it with Anthony and Joe Russo. The plot centers on a Chinese-American immigrant played by Michelle Yeoh who, while being audited by the IRS, discovers that she must connect with parallel universe versions of herself to prevent a powerful being from destroying the multiverse. Stephanie Hsu, Ke Huy Quan, Jenny Slate, Harry Shum Jr., James Hong, and Jamie Lee Curtis appear in supporting roles. The New York Times called the film a "swirl of genre anarchy" with elements of surreal comedy, science fiction, fantasy, martial arts films, and animation.',
}

In [39]:
longest_article_title = ""
longest_article_length = 0
for title, intro in wiki_articles.items():
  if len(intro) > longest_article_length:
    longest_article_title = title
    longest_article_length = len(intro)

print(f'{longest_article_title} is {longest_article_length} characters long')

Everything Everywhere All at Once is 733 characters long

> Now, using the same dictionary of Wikipedia articles, find the article with the smallest incidence of the letter "a" in the introductory paragraph (irrespective of capitalisation).

**Hint**: the `key` parameter might help here again!

In [45]:
smallest_incidence_of_a_title = ""
smallest_incidence_of_a_count = 1000  # best practice to do inf, but this good enough since we already know that max characters are 733
all_length_a = {} # Store the occurences of 'a' in all the lists in a dictionary

for title, intro in wiki_articles.items():
    count = intro.lower().count('a') # Have to convert all letter to lowercase
    all_length_a[title] = count # storing (could be useful for debugging if you are getting the wrong result)
    if count < smallest_incidence_of_a_count:
        smallest_incidence_of_a_count = count
        smallest_incidence_of_a_title = title

print(smallest_incidence_of_a_title, smallest_incidence_of_a_count)
print(all_length_a) # both beyoncee and Growth Hormone-Releasing Hormone have 21 occurences of a.

Growth Hormone-Releasing Hormone 21
{'Wikipedia': 41, 'Portugal': 45, 'Frank Sinatra': 29, 'Growth Hormone-Releasing Hormone': 21, 'Beyoncé': 21, 'Everything Everywhere All at Once': 49}

In [46]:
assert smallest_incidence_of_a_title == "Beyoncé" or "Growth Hormone-Releasing Hormone"

### Exercise 15: Classes

> You have been tasked with creating a class to create animal characters for a video game. Each animal must have a name, an age, a weight, a super power, and a fatal flaw. Optionally, each animal can also have a short description that explains why it is unique.
>
> Create this class by completing the following code.

In [42]:
class Animal:
    def __init__(self, name, age, weight, super_power, fatal_flaw):
        self.name = name
        self.age = age
        self.weight = weight
        self.super_power = super_power
        self.fatal_flaw = fatal_flaw
        pass

    def __str__(self):
        return f"Hi, my name is {self.name}. I am {self.age} years old. My super power is {self.super_power}. My fatal flaw is {self.fatal_flaw}."

    def get_description(self, characteristics):
        return characteristics

In [43]:
rhino = Animal("Rhino", 3, 43, "Charge", "Butterflies")

assert (
    str(rhino)
    == "Hi, my name is Rhino. I am 3 years old. My super power is Charge. My fatal flaw is Butterflies."
)

print(rhino.get_description("The kindest little thing in the world."))

assert rhino.get_description("The kindest little thing in the world.") == "The kindest little thing in the world."

The kindest little thing in the world.

Now, go back to where you define your class, and create some more functions. For example, the animal characters could have fighting modes, or could say things like "It's a beautiful day in paradise".

Basically, have fun with it, test it out, and enjoy creating a world of your own.

### Exercise 16: Explore

> Congratulations &ndash; you may be at the start of your journey through the world of Python, but you have reached the end of the exercises in this notebook!
>
> Feel free to go on and explore the internet for *awesome* Python projects, this might be a great place to start: https://github.com/vinta/awesome-python